{% extends 'layout.html'%}

{% block title%}Home{% endblock%}

{% block content %}
{%with messages = get_flashed_messages()%}
  {%if messages %}
    <ul>
      {% for message in messages: %}
      <li>{{message}}</li>
      {%endfor%}
    </ul>
  {% endif %}
{% endwith %}
 <nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="{{url_for('static',filename='images/flask.svg')}}" alt="" width="50">Flask
    </a>
    <button class="btn btn-success" type="submit" data-bs-toggle="modal" data-bs-target="#add-modal">Add Book</button>
    <!-- modal -->
    
    <div class="modal fade" id="add-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add a Book</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">  
            <form action="{{url_for('add_book')}}" method="POST">
              <div class="form-group">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" required="1">
              </div>
              <div class="form-group">
                <label for="author" class="form-label">Author</label>
                <input type="text" class="form-control" id="author" name="author" required="1">
              </div>
              <div class="form-group">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" id="price"  name="price" required="1">
              </div> 
              <div>
                <button type="submit" class="btn btn-primary">Add Book</button>
              </div>
            </form>     
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
            
          </div>
        </div>
      </div>
    </div>

  </div>
</nav>
<div class="container" >
    <table class="table">
      <thead>
        <tr class="table-secondary">
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Price</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
      {%for book in books:%}
        <tr>
          <th scope="row">{{book.id}}</th>
          <td>{{book.title}}</td>
          <td>{{book.author}}</td>
          <td>{{book.price}}</td>
          <td><a href="#" class="btn btn-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Update</a>
          <a href="#" class="btn btn-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Delete</a>
          </td>
        </tr>
      {%endfor%}
      </tbody>
    </table>

</div>
{% endblock %}